name: Build & Test CI

on: 
  push:
    branches:
      - main
  pull_request:
      branches:
        - main

jobs: 
  builds:
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        with: 
          node-version: ${{ matrix.node-version }}
        run: yarn
      - name: Build packages
        run: yarn build
      - name: Automated tests
        run: yarn test


    